@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #2d3b3e;
    */
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20,20, 31;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20,20, 31;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #222327;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    display: flex;
}

header ul {

}

header ul li {

}

header ul li a {
    display: block;
    padding: 15px 12px;
}

main {
    opacity: 0;
    animation: fadeIn ease-in 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

footer {

}

footer .content {
    background: rgba(0,0,0,0.7);
    background-size: cover;
    background-position: bottom;
    border-radius: 30px;
    min-height: 35vh;
    margin: 60px auto;
}

.brand {
    margin-bottom: 60px;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    margin:-30px;

}

.product-list .item {
    flex:1 0 25%;
    padding: 15px;
}

.product-list .item:first-of-type {
    flex:1 0 50%;
}

.product-list .item:nth-last-of-type(4){
    flex: 1 0 50%;
}

.product-list .item:last-of-type {

}

.product-list .item .image {
    background: transparent;

}
.product-list .item .image img {
    overflow: hidden;
    border-radius: 30px;
    object-position: center;
}